<p>
  <img src="https://nexus.global.ssl.fastly.net/ico/images/logos/nexus-social-logo.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>Trivial Chain Token is a cryptocurrency that will be used within Trivial, a secure and private decentralized social network with integrated marketplace and ad platform.</p>
  <footer><a href="https://trivial.co/" target="_blank">https://trivial.co/</a></footer>
</blockquote>
